@page
@model TodoApp.Pages.DashboardModel
@using Models;
@{
    Layout = "_TaskViewLayout";
    ViewData["Title"] = "Dashboard";

    int overdueTasksCount = 0;
    int completedTasksCount = 0;
    int weeklyTasksCount = 0;

    DateTime currentDate = DateTime.Now.Date;
    int daysToSubtract = (int)currentDate.DayOfWeek;
    //var startOfTheWeek = currentDate.AddDays(-daysToSubtract);

    if(Model.Todos != null && Model.Todos.Count > 0)
    {
        foreach (var task in Model.Todos)
        {

            // if (task.Status == "Started" && task.DueOn.Date >= startOfTheWeek.Date && (int)task.DueOn.DayOfWeek <= 6
            //   )
            // {
            //     ongoingTasksCount++;
            // }
            //task.DueOn.Date
            DateTime firstDayOfWeek = new DateCalculations().FirstDayOfTheWeek;
            DateTime lastDayOfWeek = new DateCalculations().LastDayOfTheWeek;
            DateTime completedDate = task.CompletedOn.Date;
            DateTime dueDate = task.DueOn.Date;
            string? status = task.Status; 

            if (status != "Completed" && (dueDate >= firstDayOfWeek && dueDate <= lastDayOfWeek)) overdueTasksCount++;
            

            // if ((task.CompletedOn.Date >= startOfTheWeek.Date && (int)task.CompletedOn.DayOfWeek < daysToSubtract + 1) &&
            // task.Status == "Completed")
            // {
            //     completedTasksCount++;

            // }
           
            if (status == "Completed" && (dueDate >= firstDayOfWeek && dueDate <= lastDayOfWeek))
                completedTasksCount++;

            
            if (dueDate >= firstDayOfWeek && dueDate <= lastDayOfWeek)
                weeklyTasksCount++;
                // daysToSubtract == 6 && task.Status != "Completed"

        }
    }

}

<section class="position-relative h-100 | dashboard-homepage">
    <div class="row h-100">
        <div class="col-3 p-0 | left-col-container">
            <partial name="_SideBar" />
        </div>
        <div class="col-9 p-3 text-center text-md-start | gradient-bg right-col-container">
            <div class="container">
                <div class="text-white | dashboard-header">
                    <partial name="_WelcomeText" />
                </div>
                <div class="weekly-accomplishment | row flex-column mb-5 flex-md-row">
                    <div class="week | col ">
                        <p class="fw-bold m-0 ">My week</p>
                    </div>
                    <div class="task-overdue | col">
                        <p class="m-0 ">(@weeklyTasksCount) Assigned Tasks</p>
                    </div>
                    <div class="task-ongoing | col">
                        <p class="m-0">(@overdueTasksCount) Overdue</p>
                    </div>
                    <div class="task-completed | col">
                        <p class="m-0">(@completedTasksCount) Completed</p>
                    </div>
                </div>
                <button class="fw-bold p-2 ps-0 m-0 border-0 bg-transparent | dropdown-btn">
                    <i class="fa-solid fa-angle-down"></i>
                    View Today's Task
                </button>

                <div class="tasks-container">
                    <div class="tasks-table | p-3">
                        <div class="table-body">
                            <div class="today-tasks">
                                <ul class="list-unstyled border-top">
                                    @if (Model.Todos != null && Model.Todos.Count > 0)
                                    {
                                        foreach (var task in Model.Todos)
                                        {
                                            var today = DateTime.Now;
                                            var currentTime = new TimeSpan(today.Hour, today.Minute, 0);
                                            if (task.DueOn.Date == today.Date)
                                            {
                                                <li class="border-bottom task-name">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="d-flex justify-content-between align-items-center p-2">
                                                                <div class="content">
                                                                    <p class="m-0"> @task.Details</p>
                                                                    @{
                                                                        if (task.DueOn.TimeOfDay < currentTime)
                                                                        {
                                                                            <p class="fs-6 text-danger m-0">
                                                                                <span><i class="fa-regular fa-clock"></i></span>
                                                                                @task.DueOn.ToShortTimeString()
                                                                            </p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="fs-6 text-success m-0">
                                                                                <span><i class="fa-regular fa-clock"></i></span>
                                                                                @task.DueOn.ToShortTimeString()
                                                                            </p>
                                                                        }
                                                                    }

                                                                </div>


                                                                <button type="button" class="edit-btn border-0 p-1 px-2 rounded-2 opacity-0 bg-transparent" data-bs-toggle="modal" data-bs-target="@("#edit-popup-" + task.TodoID)">
                                                                    <i class="fa-solid fa-angle-right text-black"></i>
                                                                </button>

                                                            </div>

                                                        </div>

                                                        <partial name="_UpdatePartialView" model="new _UpdatePartialViewModel(task)" />

                                                    </div>

                                                </li>
                                            }

                                        }
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>