<div class="right-col">
    <div class="dashboard-header | text-center mb-4 lh-1">
        <div class="container">
            <p class=" | date">Wednesday, March 27</p>
            <p class="fw-bold fs-1 m-0 | greet-text">Good afternoon, Darren</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search | border p-2">
                    <input type="search" name="search" placeholder="search task or project" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

            </div>
        </div>
        <div class="row align-items-center my-4">
            <div class="col">
                <div class="new-task-btn">
                    <button class="btn">
                        New Task
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
            </div>
            <div class="col-8">
                <form class="filters | d-flex flex-wrap justify-content-end align-items-center gap-3">
                    <div class="category-btn">
                        <select id="category" class="form-select" aria-label="Category">
                            <option selected>Category</option>
                            <option value="todo">Todo</option>
                            <option value="in progress">In Progress</option>
                            <option value="completed">Completed</option>
                            <option value="overdue">Overdue</option>
                        </select>
                    </div>
                    <div class="priority-btn">
                        <select id="priority" class="form-select" aria-label="Priority">
                            <option selected>Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <div class="date-btn">
                        <select id="date" class="form-select" aria-label="Date">
                            <option selected>Date</option>
                            <option value="today">Today</option>
                            <option value="1 week ago">1 week ago</option>
                            <option value="2 weeks ago">2 weeks ago</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="tasks-container">
            <div class="task-types | d-grid gap-4">
                <p class="not-found-message | fw-bold fs-2 text-center d-none">No task found</p>
                <div class="todo tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Todo</h3>
                        <i class="fa-solid fa-square-plus add-btn"></i>
                    </div>
                    <div class="todo-cards task-details">
                        <!--this is the form for adding new task.-->
                        <partial name="Create" model="Model.Todo" />
                       <!--Todo tasks-->
                       <partial name="_TodoTasks" />
                    </div>
                </div>

                <div class="in-progress tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>In Progress</h3>
                    </div>

                    <div class="in-progress-cards task-details">
                      <partial name="_OngoingTasks" />
                    </div>
                </div>
                <div class="overdue tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Overdue</h3>
                    </div>

                    <div class="overdue-cards task-details">
                       <partial name="_OverdueTasks" />
                    </div>
                </div>

                <div class="completed tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Completed</h3>
                    </div>

                    <div class="completed-cards task-details">
                       <partial name="_CompletedTasks" />
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
