@page
@model TodoApp.Pages.TaskList.IndexModel

@{
    Layout = "_TaskViewLayout";

    ViewData["Title"] = "Task List";
}


<section class="position-relative h-100">
    <div class="row flex-column flex-md-row h-100">
        <div class="col d-none d-lg-block col-lg-4 col-xl-3 p-0">
            <partial name="_SideBar" />
        </div>
        <div class="col col-lg-8 col-xl-9 p-0 | gradient-bg">
            <partial name="_MainSection" />
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
