:root {
    --clr-yellow: #ff9f00;
    /*--clr-blue: rgb(28, 24, 64);
        #534e67
    */
    --clr-black: #161616;
    --clr-blue: #03a6a7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*html {
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
}*/

html, 
body {
    height: 100%;
    overflow-x: hidden;
}

/*body, main {
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}*/

/*body > .container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
}*/

/*make the left col take up 100% height*/
/*main, section, section > .row {
    height: 100%;
}*/

/*section, section > .row {
    height: 100%;
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header {
    background-color: var(--clr-blue);
}

section {
    overflow-x: hidden;
}


/*button {
    color: #fff !important;
}*/

/*.get-started-btn {
    background-color: var(--clr-yellow);
}
*/
.logo > img {
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}


.hero {
    text-align: center;
    height: 100vh;
}

footer {
    text-align: center;
    /*line-height: 0 !important;*/
    color: #fff;
    padding: 1em;
    background-color: var(--clr-blue);
    background-size: cover;
}

/*left column styles*/

.left-col {
    padding: 1em;
    height: 100%;
    background-color: rgba(0, 0, 0, .03);
}

.left-col .user-profile {
    max-width: 300px;
    border-radius: 1em;
}

.left-col .user-profile i {
    padding: .5em;
    background-color: var(--clr-yellow);
    border-radius: 50%;
}

.left-col #sidebar-nav {
    max-width: 450px;
}

#sidebar-nav ul > li {
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em;
}

#sidebar-nav li:hover {
    background-color: rgba(0, 0, 0, .06);
}

#sidebar-nav ul > li > i {
    margin-right: .25em;
}

#sidebar-nav ul > li.active {
    /*color: #fff !important;*/
    background-color: var(--clr-yellow)
}

/*right column styles*/

.right-col .tag {
    padding: .3em .8em;
    border-radius: .5em;
}

/*priority tag styles*/

/*.right-col .tag.low {
    background-color: #f9dbbd;
}*/

    .right-col .tag.medium {
        background-color: #f77f00;
    }

    .right-col .tag.high {
        background-color: #d62828;
    }

    .right-col .tag.low {
        background-color: #fcbf49;
    }

.right-col .search input {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
}

.right-col .search {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    border-radius: .5em;
}

    .right-col .search .fa-magnifying-glass {
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }

    .right-col .new-task-btn {
        max-width: max-content;
        /*margin-block: 1em;*/
        background-color: var(--clr-yellow);
        border-radius: .5em;
    }

    .right-col .new-task-btn .fa-angle-down {
        font-size: .8rem;
        /*display: inline-block;*/
        /*padding : .25em;*/
        /*padding: .2em .25em;*/
        /*background-color: #f7d49b;*/
        /*border-radius: 50%;*/
    }

.right-col .tasks-container {
    /*overflow: hidden;*/
}

.right-col .task-types {
    position: relative;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /*grid-template-columns: repeat( 5, minmax(250px, 1fr) );*/
    padding: 1em;
    padding-block: 3em;
    margin-bottom: 3em;
    /*background-color: rgba(0, 0, 0, .03);*/
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1em;
    /*overflow-x: scroll;*/
}

  


    .right-col .task-types .header {
        font-size: 1.25rem;
        padding: .5em;
        margin-bottom: 1em;
        background-color: #fff;
        border-radius: .5em;
    }

    .right-col .task-types h3 {
        font-size: inherit;
        margin: 0;
    }

    .right-col .task-types .add-btn,
    .right-col .task-types .edit-btn {
        cursor: pointer;
    }

.right-col .card {
    color: #fff;
    background-color: transparent;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 1em;
}

.right-col .card-details {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-block: 1em;
}

    .right-col .card-details input[type="text"] {
        color: #000;
        width: 100%;
        background-color: transparent;
        border: 0;
    }

        .right-col .card-details input[type="text"]:hover,
        .right-col .card-details input[type="text"]:focus {
            border: 0 !important;
            outline: 0 !important;
        }

.right-col .card-header,
.right-col .card-footer {
    padding: 0;
    background: transparent !important;
    border: 0 !important;
}

.right-col .card-header {
    display: flex;
    justify-content: space-between;
}

    .right-col .card-header .due > i {
        color: var(--clr-yellow);
    }

.right-col .card-footer > p {
    margin: 0;
}

.right-col .card-footer .more-options > * {
    opacity: 0.5;
    /*cursor: pointer;*/
}


/*edit todo popup*/
#edit-popup .card {
    padding: 1em;
}

#edit-popup input[type="date"] {
    width: 29px;
    background-color: black !important;
    border-radius: 50%;
}


#edit-popup .completed-btn {
    font-size: .8rem;
    width: max-content;
    border-color: black;
}

.modal {
    /*display: none;*/
    max-width: 800px;
    margin-left: auto;
    right: 0;
}

.modal-dialog {
    width: 100%;
}

/*project overview page*/

.table-body li.task-name,
.table-body li.task-name button {
    transition: all 500ms ease-in;
}

.table-body li.task-name:hover button {
   opacity: 1 !important;
}

.table-body li.task-name button:hover {
    background-color: blue !important;

}

.table-body li.task-name button:hover > i {
    color: #fff !important;
}

/*dashboard*/
.dashboard-homepage .weekly-accomplishment {
    font-size: 1rem;
    max-width: 900px;
    padding: 1em;
    margin-inline: auto;
    background-color: var(--clr-yellow);
    border-radius: 10vw;
}

.dashboard-homepage ul {
    /*max-width: 600px;*/
}

/* utilities */
.big-text {
    font-size: clamp(2rem, 2rem + 5vw, 6rem);
}

.small-text {
    font-size: .8rem;
}

.colored-text {
    color: var(--clr-yellow);
}

.hidden {
    display: none;
}

.gradient-bg {
    background: var(--clr-black);
    /*background: linear-gradient(180deg, rgba(20,33,61,1) 0%, rgba(252,163,17,1) 100%);*/
    /*background: linear-gradient(180deg, rgba(22,22,22,.5) 0%, rgba(3,166,167,.6) 28%);*/
    background: linear-gradient(180deg, rgba(255,159,0,1) 0%, rgba(3,166,167,1) 100%);
}

.fc .fc-toolbar.fc-header-toolbar {
    color: #fff;
    padding-block: 1em;
    margin: 0px;
}

.fc .fc-scrollgrid-liquid,
.fc .fc-view-harness {
    max-height: 80vh;
}

.fc .fc-view-harness a {
    color: #fff;
}


/*forms - global styles*/

.sign-in-form {
    
    background-color: var(--clr-blue);
}


.register-form-container,
.sign-in-form-container {
    margin-inline: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.register-form-container button,
.sign-in-form-container button {
    background-color: var(--clr-black);
    border: none;
}

.register-form-container button:hover,
.register-form-container button:focus,
.sign-in-form-container button:hover,
.sign-in-form-container button:focus {
    background-color: rgba(252,163,17,0.7);
    
}

.sign-in-form-container .form-control:focus {
    border: 1px solid var(--clr-yellow) !important;
    box-shadow: 0 0 0 .25rem rgba(3, 166, 167, .25);
}

/*sign-in form*/

.sign-in-form-container {
    width:100%;
    border-top-left-radius: 30vw;
    border-bottom-left-radius: 30vw;
    padding: 7em;
}

.sign-in-form-img-container img {
    width: 100%;
    max-width: 400px;
}

/*media queries*/

@media (max-width: 991px) {
    .sign-in-form-container {
        border-top-left-radius: 30vw;
        border-bottom-left-radius: 0vw;
        padding: 5em;
    }
}

/*Dashboard UI*/
@media (max-width: 789px) {
    .left-col-container {
        display: none;
    }

   .right-col-container {
       width: 100% !important;
   }
}

@media (min-width: 790px) {
    .navbar {
        display: none;
    }

    .left-col-container {
       font-size: .875rem;
    }

    .left-col-container .user-info p:nth-of-type(2) {
        display: none;
    }

}



