:root {
    --clr-yellow: #ff9f00;
    /*--clr-blue: rgb(28, 24, 64);
        #534e67
    */
    --clr-white: #ffffff;
    --clr-black: #161616;
    --clr-blue: #03a6a7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
    overflow-x: hidden;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--clr-yellow);
}*/

header {
    background-color: var(--clr-blue);
}

header .navbar ul {
    text-align: right;
}

header .navbar ul .nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}

header .navbar ul .nav-link > i {
    order: 1;
}

section {
    overflow-x: hidden;
}

.logo > img {
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}


.hero {
    text-align: center;
    height: 100vh;
}

.fa-star,
.fa-square-pen {
    font-size: .8rem;
    color: var(--clr-yellow);
}

footer {
    text-align: center;
    color: var(--clr-white);
    padding: 1em;
}

/*left column styles*/

.left-col {
    padding: 1em;
    height: 100%;
    background-color: rgba(0, 0, 0, .03);
}

.left-col .user-profile {
    max-width: 300px;
    border-radius: 1em;
}

.left-col .user-profile i {
    padding: .5em;
    background-color: var(--clr-yellow);
    border-radius: 50%;
}

.left-col #sidebar-nav {
    max-width: 450px;
}

#sidebar-nav ul > li {
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em;
}

#sidebar-nav li:hover {
    background-color: rgba(0, 0, 0, .06);
}

#sidebar-nav ul > li > i {
    margin-right: .25em;
}

#sidebar-nav ul > li.active {
    background-color: var(--clr-yellow)
}

/*right column styles*/

.right-col .tag {
    padding: .3em .8em;
    border-radius: .5em;
}

/*priority tag styles*/

.right-col .tag.medium {
    background-color: #f77f00;
}

.right-col .tag.high {
    background-color: #d62828;
}

.right-col .tag.low {
    background-color: #fcbf49;
}

.right-col .search input {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
}

.right-col .search {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    border-radius: .5em;
}

.right-col .search .fa-magnifying-glass {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.right-col .new-task-btn {
    max-width: max-content;
    background-color: var(--clr-yellow);
    border-radius: .5em;
}

.right-col .task-types {
    position: relative;
    /*grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );*/
    grid-template-columns: repeat(4, minmax(200px, 1fr) );
    padding: 1em;
    padding-block: 3em;
    margin-bottom: 3em;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1em;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
.right-col .task-types::-webkit-scrollbar {
    display: none;
}

.tasks-container .task-types .card {
    color: var(--clr-white);
    background-color: transparent;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 1em;
}

.tasks-container .task-types .header {
    font-size: 1.25rem;
    padding: .5em;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: .5em;
}

.tasks-container .task-types h3 {
    font-size: inherit;
    margin: 0;
}

.tasks-container .task-types .add-btn,
.tasks-container .task-types .edit-btn {
    cursor: pointer;
}

.tasks-container .task-types .edit-btn {
    font-size: .75rem;
    opacity: 0.5;
}

.tasks-container .card-details {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 1em;
}

.tasks-container .card-details input[type="text"] {
    color: #000;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.tasks-container .card-details input[type="text"]:hover,
.tasks-container .card-details input[type="text"]:focus {
    border: 0 !important;
    outline: 0 !important;
}

.tasks-container .card-header,
.tasks-container .card-footer {
    padding: 0;
    background: transparent !important;
    border: 0 !important;
}

.tasks-container .card-header {
    display: flex;
    justify-content: space-between;
}

.tasks-container .card-header .due {
   font-size: clamp(.7rem, calc(.7rem + .15vw), 1rem);
}

.tasks-container .card-footer > p {
    margin: 0;
}

.tasks-container .card-footer .more-options > * {
    opacity: 0.5;
}


/*edit todo popup*/
#edit-popup .card {
    padding: 1em;
}

#edit-popup input[type="date"] {
    width: 29px;
    background-color: black !important;
    border-radius: 50%;
}

#edit-popup .completed-btn {
    font-size: .8rem;
    width: max-content;
    border-color: black;
}

/*modal styles*/
.modal:not(.calendar-popup > .modal) {
    max-width: 800px;
    margin-left: auto;
    right: 0;
}

.modal-dialog {
    width: 100%;
}

.modal-content {
    background: linear-gradient(180deg, rgba(255,159,0,1) 0%, rgba(3,166,167,1) 100%);
}

.modal-body .form-select {
    /*background: linear-gradient(180deg, rgba(255, 159, 0, .25) 0%, rgba(3, 166, 167, .25) 100%);*/
    border-color: var(--clr-blue)
}

.modal-body .form-control:focus,
.modal-body .form-select:focus {
    border-color: transparent;
    box-shadow: 0px 0px 0px 0px !important;
}

.modal .description textarea {
    background: linear-gradient(180deg, rgba(255, 159, 0, .25) 0%, rgba(3, 166, 167, .25) 100%);
    /* border: 1px solid var(--clr-yellow); */
    /*color: white;*/
    border-radius: .5em;
    /* overflow: hidden; */
    border-color: var(--clr-blue);
}

.modal .btn:hover {
    opacity: 0.5;
}

.modal-footer .btn {
    color: var(--clr-white);
    border-radius: .3em;
}

.modal .close-btn {
    background-color: var(--clr-blue);
}

.modal-footer .save-btn {
    background-color: var(--clr-yellow);
}

.tasks-container .task-types .card .modal {
    font-size: 1rem;
    color: var(--clr-black);
}

/*project overview page*/

.table-body li.task-name,
.table-body li.task-name button {
    transition: all 500ms ease-in;
}

.table-body li.task-name:hover button {
    opacity: 1 !important;
}

.table-body li.task-name button:hover {
    background-color: blue !important;

}

.table-body li.task-name button:hover > i {
    color: #fff !important;
}

/*dashboard*/
.dashboard-homepage .weekly-accomplishment {
    font-size: 1rem;
    max-width: 900px;
    padding: 1em;
    margin-inline: auto;
    background-color: var(--clr-yellow);
    border-radius: 10vw;
}

.dashboard-header .calendar-link:hover {
    text-decoration: none;
    opacity: 0.5;
}


/*calendar styles*/
.fc .fc-toolbar.fc-header-toolbar {
    color: var(--clr-white);
    padding-block: 1em;
    margin: 0px;
}

.fc .fc-scrollgrid-liquid,
.fc .fc-view-harness {
    max-height: 80vh;
}

.fc .fc-view-harness a {
    color: #fff;
}

.fc td.fc-day {
    cursor: pointer;
}


/*forms - global styles*/
.sign-in-form {
    background-color: var(--clr-blue);
}


.register-form-container,
.sign-in-form-container {
    margin-inline: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.register-form-container button,
.sign-in-form-container button {
    background-color: var(--clr-black);
    border: none;
}

.register-form-container button:hover,
.register-form-container button:focus,
.sign-in-form-container button:hover,
.sign-in-form-container button:focus {
    background-color: rgba(252,163,17,0.7);
    
}

.sign-in-form-container .form-control:focus {
    border: 1px solid var(--clr-yellow) !important;
    box-shadow: 0 0 0 .25rem rgba(3, 166, 167, .25);
}

/*sign-in form*/

.sign-in-form-container {
    width:100%;
    border-top-left-radius: 30vw;
    border-bottom-left-radius: 30vw;
    padding: 7em;
}

.sign-in-form-img-container img {
    width: 100%;
    max-width: 400px;
}

/*Tasklist UI*/

.tasks-container .task-details {
    max-height: 500px;
    padding: 1em;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tasks-container .task-details::-webkit-scrollbar {
    display: none;
}


/*media queries*/

/*sign in form*/
@media (max-width: 991px) {
    .sign-in-form-container {
        border-top-left-radius: 30vw;
        border-bottom-left-radius: 0vw;
        padding: 5em;
    }
}

/*Dashboard UI*/
@media (max-width: 789px) {
    .left-col-container {
        display: none;
    }

   .right-col-container {
       width: 100% !important;
   }
}

@media (min-width: 790px) {
    .navbar {
        display: none;
    }

    .left-col-container {
       font-size: .875rem;
    }

    .left-col-container .user-info p:nth-of-type(2) {
        display: none;
    }

}

/* utilities */
.big-text {
    font-size: clamp(2rem, 2rem + 5vw, 6rem);
}

.small-text {
    font-size: .8rem;
}

.colored-text {
    color: var(--clr-yellow);
}

.hidden {
    display: none;
}

.gradient-bg {
    background: var(--clr-black);
    /*background: linear-gradient(180deg, rgba(20,33,61,1) 0%, rgba(252,163,17,1) 100%);*/
    /*background: linear-gradient(180deg, rgba(22,22,22,.5) 0%, rgba(3,166,167,.6) 28%);*/
    background: linear-gradient(180deg, rgba(255,159,0,1) 0%, rgba(3,166,167,.65) 100%);
}
